<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>顧客情報編集</title>
    <link rel="stylesheet" href="../../static/css/style.css" th:href="@{/css/style.css}"/>
</head>
<body>
<div>
    <h1>顧客管理システム</h1>
    <form th:action="@{/customers/edit}" th:object="${customerForm}" method="post">
        <fieldset>
            <legend>顧客情報編集</legend>
            <div>
                <label for="lastName">姓</label>
                <div>
                    <input type="text" id="lastName" th:field="*{lastName}" value="山田"
                           th:classappend="${#fields.hasErrors('lastName')}? 'error-input'">
                    <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"
                          class="error-messages">error!</span>
                </div>
            </div>
            <div>
                <label for="firstName">名</label>
                <div>
                    <input type="text" id="firstName" th:field="*{firstName}" value="太郎"
                           th:classappend="${#fields.hasErrors('firstName')}? 'error-input'"/>
                    <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"
                          class="error-messages">error!</span>
                </div>
            </div>
            <div>
                <input type="submit" name="goToTop" value="戻る">
                <input type="hidden" name="id" th:value="${param.id[0]}">
                <input type="submit" value="更新">
            </div>
        </fieldset>
    </form>
</div>
</body>
</html>